/*==================================================================
============== Loading Overlay =====================================
=================================================================*/
div#loading-overlay{
    position: fixed;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 999999999999;
    @include transition(1s);
    img{
        position: absolute;
        top: calc( 50% - 100px );
        left: calc( 50% - 100px );
    }
}