/*==================================================================
============== Works =============================================
=================================================================*/
#works{
    .work-card{
        position: relative;
        margin: 30px 0px ;
        padding: 15px;
        cursor: pointer;
        max-width:  300px;
        height: 200px;
        .work-img{
            position: absolute;
            top: 0px;
            width:  100%;
            height: 180px;
            background-position: center;
            background-size: cover;
            @include transition( 0.3s);
            @include borderRadius( 7px );
            &:after {
                content: "";
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                @include transition( 0.3s);
                @include borderRadius( 7px );
                background-color: #2a8e8238;
            }
        }
        .buttons{
            position: absolute;
            width: 100%;
            bottom: 0px;
            height: 20px;
            overflow: hidden;
            .buttons-inner{
                top: 0px;
                width: 100%;
                position: absolute;
                @include transition( 0.3s );
                span{
                    @include transition( 0.3s );
                    color: #000;
                    font-weight: bolder;
                }
                span.project-name{
                    opacity: 1;
                }
                span.link{
                    text-transform: uppercase;
                    opacity: 0;
                }
            }
        }
        // At Hover Work Card
        &:hover{
            .work-img{
                top: -20px;
                &:after {
                    background-color: #0000008f;
                }
            }
            .buttons{
                .buttons-inner{
                    top: -30px;
                    span.project-name{
                        opacity: 0;
                    }
                    span.link{
                        opacity: 1;
                    }
                }
            }
        }
    }
}
